<pre>
    <div class="ui segment">
        Power Word: Shield```
        absorb = (BASE + (0.8068 + BT) * SP) * (1 + IPWS) * (1 + FP + TD + SH)
        glyph heal = (BASE + (0.8068 + BT) * SP) * (1 + FP) * (1 + IPWS + TD) * (1 + BR) * 0.2

        Terms (+% at max rank):
SH = Spiritual Healing (10%)
TD = Twin Discipline (5%)
FP = Focused Power (4%)
IPWS = Improved PW:S (15%)
BT = Borrowed Time (40%)
BASE = 2230 (for rank 14)```

Haste```
hasted cast time = cast time / haste%

Each separate source of haste (buff, gear, talent) is applied multiplicatively. At level 80, every 32.79 haste rating = 1% haste. Typical raid buffs are Wrath of Air Totem (5%), Swift Retribution or Improved Moonkin Form (3%). Talent buffs are Enlightenment (6%), and Borrowed Time (25%; temporary). 

With a standard deep Discipline build that include both talent buffs active, with raid buffs:

haste% = 1.06 * 1.25 * 1.05 * 1.03 = 1.4330```

(for more information see https://discord.com/channels/253201874683953162/1024065891954065469/1024066761710112818)
    </div>
</pre>