<pre>/run SetCVar("UIScale", 0.7111111111)</pre>
<a href="https://wowpedia.fandom.com/wiki/UI_Scale">https://wowpedia.fandom.com/wiki/UI_Scale</a>
<div class="ui divider"></div>
<h2 class="ui header">Bartender</h2>
<table class="ui collapsing celled table">
    <thead>
        <tr class="middle aligned">
            <th>Bartender</th>
            <th>Blizzard</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Main</td>
            <td>
                Tree (Druid)<br>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td></td>
            <td>tilde; mouse button/wheel</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Right</td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Right 2</td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Bottom Right</td>
            <td>arrow keys; ins/del, home/end, pg up/down</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Bottom Left</td>
            <td>Cat (Druid), Shadow (Priest)</td>
        </tr>
        <tr>
            <td>7</td>
            <td></td>
            <td>Bear (Druid)</td>
        </tr>
        <tr>
            <td>8</td>
            <td></td>
            <td>Moonkin (Druid)</td>
        </tr>
        <tr>
            <td>9</td>
            <td></td>
            <td>Alt/Ctrl bar for Bar 1; same macro with modifier conditional</td>
        </tr>
        <tr>
            <td>10</td>
            <td></td>
            <td>Alt/Ctrl bar for Bar 6; same macro with modifier conditional</td>
        </tr>
    </tbody>
</table>
<h4 class="ui header">Druid</h4>
<table class="ui center aligned definition table">
    <thead>
        <tr class="middle aligned">
            <th>BAR</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>0</th>
            <th>-</th>
            <th>=</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Lifebloom</td>
            <td>Nourish</td>
            <td>Rejuvenation</td>
            <td>Swiftmend</td>
            <td>Regrowth</td>
            <td>Tranquillity</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Mangle (Cat)</td>
            <td>Rake/Pounce</td>
            <td>Shred/Ravage</td>
            <td>Ferocious Bite</td>
            <td>Rip</td>
            <td>Maim</td>
            <td>Feral Charge</td>
            <td>Fearie Fire</td>
            <td>Tiger's Fury</td>
            <td>Savage Roar</td>
            <td>Swipe (Cat)</td>
            <td>Surviving Instinct</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Mangle (Bear)</td>
            <td>Maul</td>
            <td>Swipe (Bear)</td>
            <td>Lacerate</td>
            <td>Demo Roar</td>
            <td>Enrage</td>
            <td>Feral Charge</td>
            <td>FF</td>
            <td>Bash</td>
            <td></td>
            <td></td>
            <td>Surviving Instinct</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Hurricane</td>
            <td>Starfire</td>
            <td>Wrath</td>
            <td>Moonfire</td>
            <td>Insect Swarm</td>
            <td>Starfall</td>
            <td>Typhoon</td>
            <td>FF</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>10</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Berserk</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<h4 class="ui header">Priest</h4>
<table class="ui center aligned definition table">
    <thead>
        <tr class="middle aligned">
            <th>BAR</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>0</th>
            <th>-</th>
            <th>=</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<h4 class="header">Custom Visibility Condition</h4>
<code>[petbattle]show;[overridebar]show;[possessbar]show;[vehicleui]show;[target=vehicle,exists]show;hide</code>
<h4 class="header">Custom State Condition</h4>
<h5 class="ui top attached header">
    Bar 1
</h5>
<div class="ui attached segment">
    <code>[overridebar][possessbar][shapeshift]possess;[bonusbar:5]dragon;[mod:ctrl]9;[mod:alt]9;[bonusbar:3]7;[bonusbar:1,stealth:1]8;[bonusbar:1]8;[bonusbar:4]6;[bonusbar:2]1;1</code>
</div>
<h5 class="ui top attached header">
    Bar 6 (default = Bar 8)
</h5>
<div class="ui attached segment">
    <code>[overridebar][possessbar][shapeshift]possess;[bonusbar:5]dragon;[mod:ctrl]10;[mod:alt]10;[bonusbar:3]7;[bonusbar:1,stealth:1]8;[bonusbar:1]8;[bonusbar:4]6;[bonusbar:2]6;6</code>
</div>
<div class="ui divider"></div>

[overridebar][possessbar][shapeshift]possess;[bonusbar:5]dragon;[mod:ctrl]9;[mod:alt]9;[bonusbar:3]7;[bonusbar:1,stealth:1]6;[bonusbar:1]6;[bonusbar:4]8;[bonusbar:2]1;1
[mod:ctrl]10;[mod:alt]10;[bonusbar:3]7;[bonusbar:4]8;[bonusbar:1,stealth:1]6;[bonusbar:1]6;[bonusbar:2]8;8